:root {
  /* Color palette */
  --color-primary: #FFFFFF;   /* White */
  --color-secondary: #151414; /* Almost Black */
  --color-buttongray:#f3f4f6;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* Hide scrollbars everywhere */
html, body, * {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
html::-webkit-scrollbar, body::-webkit-scrollbar, *::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
