@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    background-color: #fff;
    color: #111;
}

.container {
  max-width: 430px;
  margin: auto;
  padding: 75px 10px 80px;
  position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 430px;
    margin: auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}


.profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #fafafa;
    box-shadow: 2px 2px 5px #ccc,
        -2px -2px 5px #ccc;
}

.icons {
    display: flex;
    gap: 20px;
}

.icon {
    position: relative;
    font-size: 20px;
}

.badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: orange;
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
}

.orders {
    margin-top: 20px;
}

.order {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.order .images {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.order .images img{
    max-height: 35px;
}

.order-info {
    flex: 1;
}

.status {
    margin-top: 4px;
    font-weight: bold;
}

.delivered {
    display: flex;
    align-items: center;
    gap: 5px;
}

.delivered img{
    width: 20px;
    height: 20px;
}

.right {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.noi{
    padding: 2px 4px;
    background: #f7f7f7;
    border-radius: 5px;
}

.right a{
    text-decoration: none;
}

.btn {
    width: 75px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    padding: auto;
    margin-top: 5px;
    cursor: pointer;
}

.btn.black {
    background-color: #000;
    color: #fff;
    border: none;
}

.btn.outline {
    border: 2px solid #000;
    background: none;
    color: #000;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 430px;
    margin: auto;
    height: 60px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
}

.bottom-nav img{
    width: 20px;
}